.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.item-card{
  display: flex;
  border: 1px solid black;
  text-align: center;
  width: 50%;
  align-content: center;
  margin-left: 300px;

}

.price{
  margin-left: 100px;
}
.btn{  margin-left: 100px;
  height: 20px;
  width: 100px;
  margin-top: 20px;
  background-color: rgb(230, 191, 137);
  border-style: hidden;
}

.name{
  margin-left: 10px;
}

.btn:hover{
  background-color: rgb(44, 90, 146);
}